{
    "openapi": "3.1.0",
    "info": {
      "version": "1.0.0",
      "title": "Blog Post Generator API",
      "description": "API for generating SEO-optimized blog content for content sites",
      "contact": {
        "name": "API Support"
      }
    },
    "servers": [
      {
        "url": "https://37i63ggdokg5pjjiqkqwhfvkre0zgezz.lambda-url.us-east-1.on.aws/",
        "description": "Production server"
      }
    ],
    "paths": {
      "/": {
        "post": {
          "summary": "Generate blog content",
          "operationId": "generateBlogPost",
          "tags": ["blog"],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "name": "templateId",
              "in": "query",
              "description": "ID of the template to use",
              "required": false,
              "schema": {
                "type": "string",
                "default": "default",
                "enum": ["default", "technical_tutorial"]
              }
            },
            {
              "name": "keywords",
              "in": "query",
              "description": "List of keywords for the blog post. Currently only the first keyword is used.",
              "required": true,
              "style": "form",
              "explode": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 1
              }
            },
            {
              "name": "language",
              "in": "query",
              "description": "Content language. Must be one of the supported languages.",
              "required": false,
              "schema": {
                "type": "string",
                "default": "English",
                "enum": [
                  "English",
                  "Spanish",
                  "French",
                  "German",
                  "Italian",
                  "Portuguese",
                  "Chinese",
                  "Japanese",
                  "Russian",
                  "Arabic"
                ]
              }
            },
            {
              "name": "industry",
              "in": "query",
              "description": "Type of industry",
              "required": false,
              "schema": {
                "type": "string",
                "default": "fishing"
              }
            },
            {
              "name": "usage",
              "in": "query",
              "description": "What the store is primarily used for",
              "required": false,
              "schema": {
                "type": "string",
                "default": "sale"
              }
            },
            {
              "name": "location",
              "in": "query",
              "description": "Target market location",
              "required": false,
              "schema": {
                "type": "string",
                "default": "US"
              }
            },
            {
              "name": "word_count",
              "in": "query",
              "description": "Target word count for the content",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 6000,
                "minimum": 1000,
                "maximum": 12000
              }
            },
            {
              "name": "anchorLink",
              "in": "query",
              "description": "URL for inbound links to be included in the content",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "x-api-key",
          "description": "API key for authentication. Example: d8e8fca2-ee2d-4f17-a83c-b94e42d9f8fa"
        }
      },
      "schemas": {
        "ErrorResponse": {
          "type": "object",
          "required": ["error"],
          "properties": {
            "error": {
              "type": "string",
              "description": "Error message"
            }
          }
        },
        "SuccessResponse": {
          "type": "object",
          "required": ["message"],
          "properties": {
            "message": {
              "type": "string",
              "description": "Success message"
            },
            "content": {
              "type": "string",
              "description": "Generated blog content in HTML format"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the generated content"
            }
          }
        },
        "BlogPostRequest": {
          "type": "object",
          "required": ["keywords"],
          "properties": {
            "templateId": {
              "type": "string",
              "description": "ID of the template to use",
              "default": "default",
              "enum": ["default", "technical_tutorial"]
            },
            "keywords": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of keywords for the blog post. Currently only the first keyword is used.",
              "minItems": 1,
              "maxItems": 1,
              "example": ["Linux handheld"]
            },
            "language": {
              "type": "string",
              "description": "Content language. Must be one of the supported languages.",
              "default": "English",
              "enum": [
                "English",
                "Spanish",
                "French",
                "German",
                "Italian",
                "Portuguese",
                "Chinese",
                "Japanese",
                "Russian",
                "Arabic"
              ]
            },
            "industry": {
              "type": "string",
              "description": "Type of industry",
              "default": "fishing",
              "example": "Video Game"
            },
            "usage": {
              "type": "string",
              "description": "What the store is primarily used for",
              "default": "sale",
              "example": "Game Console"
            },
            "location": {
              "type": "string",
              "description": "Target market location",
              "default": "US",
              "example": "US"
            },
            "word_count": {
              "type": "integer",
              "description": "Target word count for the content",
              "default": 6000,
              "minimum": 1000,
              "maximum": 12000,
              "example": 6000
            },
            "anchorLink": {
              "type": "string",
              "description": "URL for inbound links to be included in the content",
              "example": "https://google.com"
            }
          }
        }
      }
    }
  } 